$def with(productos, message)
<h3>
    <a href="/productos">productos</a>
</h3>
$if message != None:
    <div class="alert alert-warning">
        <strong>Advertencia </strong> $message
    </div>
<br>

<form action="" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id_productos" id="id_productos" value="$productos.id_productos" />

    <div class="form-group">
    <label for="nombre">nombre</label>
    <input readonly id="nombre" type="text" class="form-control" name="nombre" size="30" value="$productos.nombre"/>
</div><div class="form-group">
    <label for="litros">litros</label>
    <input readonly id="litros" type="text" class="form-control" name="litros" size="30" value="$productos.litros"/>
</div><div class="form-group">
    <label for="precio">precio</label>
    <input readonly id="precio" type="text" class="form-control" name="precio" size="30" value="$productos.precio"/>
</div>

    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control"><span class="glyphicon glyphicon-trash"></span> Delete</button>
    </div>
</form>
<br>
<br>
<br>