$def with(clientes, message)
<h3>
    <a href="/clientes">clientes</a>
</h3>
$if message != None:
    <div class="alert alert-warning">
        <strong>Advertencia </strong> $message
    </div>
<br>

<form action="" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id_clientes" id="id_clientes" value="$clientes.id_clientes" />

    <div class="form-group">
    <label for="nombre">nombre</label>
    <input readonly id="nombre" type="text" class="form-control" name="nombre" size="30" value="$clientes.nombre"/>
</div><div class="form-group">
    <label for="rfc">rfc</label>
    <input readonly id="rfc" type="text" class="form-control" name="rfc" size="30" value="$clientes.rfc"/>
</div><div class="form-group">
    <label for="direccion">direccion</label>
    <input readonly id="direccion" type="text" class="form-control" name="direccion" size="30" value="$clientes.direccion"/>
</div><div class="form-group">
    <label for="telefono">telefono</label>
    <input readonly id="telefono" type="text" class="form-control" name="telefono" size="30" value="$clientes.telefono"/>
</div>

    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control"><span class="glyphicon glyphicon-trash"></span> Delete</button>
    </div>
</form>
<br>
<br>
<br>